
body    {
    width: 100%;
    height: 100%;
    max-width: 1399px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    margin:0;
    padding:0;
}

.navigation {
    width: 80vw; 
    margin: -2em;
}

.navbar-nav {
    flex-direction: row;
    font-size: 1em; 
}

.right-nav {
    float: right;
    position: relative;
    right: 6em;
    padding-right: 1em;
}

.left-nav {
    float: left;
    padding-left: 2em;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline;
}

.nav-link {
    color: #1e212d;
    text-decoration: none;
    padding: 1em;
}

.nav-link:hover {
    color: #1e212d;
    background-color: #bf9b89;
    transition: 0.2s ease-out;
}

.drawing-photos {
    width: 20%;
    float: right;
    background-color: #ecd1b9;
    position: absolute;
    right: 0;
    top: 0;
    
}

.square-pic {
    margin-top:2em;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displaynone {
    display: none;
}

.closebtn {
    display: none;
}
